@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
    font-family: IranSans;
    src: url('./assets/fonts/IRANSans-web.woff');
}
@font-face {
    font-family: IranYekan;
    src: url('./assets/fonts/iranyekanweblight.woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}
.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 1rem 0.5rem;
    background-color: white;
  }
.App {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.layout{
   height: 100%;
   min-width: 100%;
}
#menuItem{
    background-color: white;
    border-radius: 20px;
}
#header{
    background-color: #168D93;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.iranYekan{
    font-family: IranYekan;
}
.buttonGra{
    background-image: linear-gradient(to right, #09737b , #09989E);
    border-color: #09737b;
}
section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
}
.labels{
    font-family: IranYekan;
    font-weight: 700;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

/* label,
button {
  margin-top: 1rem;
} */

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.loginSec{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
 
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
}
.msg {
    background-color: rgb(194, 255, 182);
    color: rgb(39, 178, 34);
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 20px;
}
.line {
    display: inline-block;
}

#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }